@import "./libs/normilize/normilize.css";
@import "./fonts.css";
@import "./libs/owl/owl.carousel.min.css";
@import "./libs/owl/owl.theme.default.min.css";
@import "./libs/fancyBox/jquery.fancybox.min.css";

body {
	overflow-x: hidden;
}

.wrapper {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}

.wrapper > * {
	position: relative;
	z-index: 1;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 7;
	width: 100%;
	padding: 15px 0;
	background: transparent;
	transition: 0.3s ease;
}

header.fixed {
	background-color: #222222;
	box-shadow: 0 0 15px #222222;
}

header nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header nav a {
    font-family: 'IBM Plex Sans SemiBold';
	font-size: 18px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	transition: 0.3s ease;
}

header nav a:hover {color: #FFA800;}

header nav a:not(:last-child) {margin-right: 15px;}

header .logo {
	width: 100%;
	max-width: 73px;
}

header .logo img {width: 100%;}

.callback-link {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFA800;
}

.callback-link img {
	width: 16px;
	margin-right: 5px;
}

.callback-link:hover span {text-decoration: underline;}


.banner {
	position: relative;
	padding: 163px 0 230px;
	background-repeat: no-repeat;
	background-position: top left;
	background-size: cover;
	overflow: hidden;
}


.banner-cnt {
	position: relative;
	z-index: 2;
	width: 100%;
	max-width: 640px;
}

h1 {
	margin-bottom: 15px;
	font-family: 'Base 02 Cyrillic';
	font-size: 45px;
	line-height: 67px;
	color: #ffffff;
}

h1 span {color: #FFA800;}

.banner-cnt p {
	margin-bottom: 47px;
    font-family: 'IBM Plex Sans Regular';
    font-size: 22px;
    line-height: 29px;
    color: #FFFFFF;
}

.banner-cnt form {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	max-width: 540px;
}


.field {
	width: 100%;
	max-width: 538px;
	height: 55px;
	padding: 0 5px 0 15px;
	background: rgba(255, 255, 255, 0.07);
    font-family: 'IBM Plex Sans Regular';
	font-size: 22px;
	line-height: 55px;
	color: #7C7C7C;
}

textarea.field {
	min-height: 111px;
    padding: 13px 18px;
    line-height: 22px;
}

.field::-webkit-input-placeholder {color: #7C7C7C;}
.field::-moz-placeholder {color: #7C7C7C;}
.field:-ms-input-placeholder {color: #7C7C7C;}
.field:-moz-placeholder {color: #7C7C7C;}

.banner-cnt form input.field {max-width: 260px;}

.banner-cnt form .field {margin-bottom: 20px;}



.btn {
	display: inline-block;
	height: 54px;
	padding: 0 50px;
    font-family: 'IBM Plex Sans Regular';
	font-size: 22px;
	line-height: 54px;
	color: #ffffff;
	text-align: center;
	background-color: #FFA800;
	transition: 0.3s ease;
}

.btn-big {
    padding: 0 54px;
    height: 64px;
    line-height: 64px;
    font-size: 25px;
}

.btn-send {
    padding: 0 42px;
    height: 37px;
    line-height: 37px;
    font-size: 20px;
}

.btn-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn:hover {background-color: #d89000;}


.banner-img {
    position: absolute;
    top: -5px;
    right: -26px;
    z-index: 1;
    width: 100%;
    max-width: 1146px;
}

.banner-img img {width: 100%;}


.footer {
    position: relative;
    margin-top: -4px;
    padding: 10px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footer h5 {
	display: block;
	width: 100%;
	margin-bottom: 10px;
    font-family: 'IBM Plex Sans Bold';
	font-size: 22px;
	line-height: 26px;
	text-transform: uppercase;
	text-align: center;
	color: #FFFFFF;
}

.footer h5 span {color: #FFA800;}

.footer p {
	display: block;
	width: 100%;
	margin-bottom: 15px;
    font-family: 'IBM Plex Sans Regular';
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
}

.footer a {
	display: block;
	width: 100%;
	margin-bottom: 15px;
    font-family: 'IBM Plex Sans Bold';
	font-size: 18px;
	line-height: 18px;
	text-align: center;
	color: #FFFFFF;
	transition: 0.3s ease;
}

.footer a:hover {color: #FFA800;}

.social {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.social a {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 30px;
	min-width: 30px;
	margin-bottom: 0;
}

.social a img {width: 100%;}

.social a:not(:first-child) {margin-left: 15px;}

.footer .toTop {
	position: absolute;
	bottom: 15px;
	right: 148px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	padding: 15px;
    font-family: 'IBM Plex Sans Regular';
	font-size: 19px;
	line-height: 19px;
	color: #FFFFFF;
	transition: 0.3s ease;
}

.footer .toTop:hover {
	background-color: #FFA800;
	color: #ffffff;
}

.footer .toTop img {margin-left: 12px;}


.title {
    position: relative;
    width: 100%;
    padding: 30px 0 30px;
}

.title .title-text {
    display: block;
	padding-bottom: 40px;
    font-family: 'Base 02 Cyrillic';
    font-size: 45px;
	line-height: 45px;
	text-transform: uppercase;
    color: #222222;
}

.title-white .title-text {color: #ffffff;}

.title .title-text span {color: #FFA800;}

.subtitle {
	font-family: 'IBM Plex Sans Regular';
	font-size: 18px;
	line-height: 23px;
	color: #222222;
}

.subtitle span {
	font-family: 'IBM Plex Sans Medium';
	font-size: 20px;
}

.title span.title-bg {
    position: absolute;
    top: -34px;
    left: -49px;
    z-index: 0;
    max-width: 100%;
    font-family: 'Snyder Speed Brush Cyr';
    white-space: nowrap;
    font-size: 238px;
    line-height: 308px;
    color: rgba(0, 0, 0, 0.03);
}

.title span.title-bg-2 {
	top: 281px;
}

.map {width: 100%;}

.questions {padding: 0 0 45px;}

.questions .title .title-text  {padding-bottom: 20px;}

.questions .title span.title-bg:not(.title-bg-2) {
    top: -6px;
    left: auto;
    right: -755px;
}

.questions .title span.title-bg-2 {
    top: 245px;
    left: -545px;
}

.questions-list {
	width: 100%;
	max-width: 920px;
	margin: 0 auto;
}

.question {
	padding: 30px 0 34px;
	border-bottom: 3px solid #222222;
}

.question:first-child {border-top: 3px solid #222222;}

.question-title {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: 'IBM Plex Sans Bold';
	font-size: 22px;
	line-height: 29px;
	color: #222222;
	transition: 0.3s ease;
}

.question-title span {padding-right: 10px;}

.question-title:hover {color: #FFA800;}

.question-plus {
	font-family: 'IBM Plex Sans Regular';
    font-size: 52px;
    line-height: 30px;
    color: #222222;
    transition: 0.3s ease;
}

.question.open .question-title {padding-bottom: 10px;}
.question.open .question-plus {transform: rotate(45deg);}

.question-cnt {display: none;}

.question-cnt p {
	padding-right: 50px;
	font-family: 'IBM Plex Sans Regular';
	font-size: 18px;
	line-height: 23px;
	color: #222222;
}

.appointment {
	position: relative;
	padding: 254px 0 275px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.appointment .wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}

.appointment h4 {
	width: 100%;
	margin-bottom: 13px;
	font-family: 'IBM Plex Sans SemiBold';
	font-size: 45px;
	line-height: 58px;
	text-align: center;
	color: #ffffff;
}

.appointment p {
	width: 100%;
	margin-bottom: 45px;
	font-family: 'IBM Plex Sans SemiBold';
	font-size: 22px;
	line-height: 29px;
	text-align: center;
	color: #ffffff;
}

.mud-small {
	position: absolute;
	left: 0;
	z-index: 0;
	width: 100%;
}

.mud-small-top {top: 0;}

.mud-small-bottom {bottom: 0;}

.mud-small > * {
	position: relative;
	z-index: 1;
}

.about {
    position: relative;
    padding: 135px 0 87px;
    background-size: cover;
    background-repeat: no-repeat;
}

.about .mud-small.mud-small-bottom {z-index: 3;}

.about-cup {
	position: absolute;
	top: 230px;
	right: -245px;
	z-index: 2;
	max-width: 811px;
}

.about .wrapper > * {
	position: relative;
	z-index: 2;
}

.about .title .title-text {padding-bottom: 13px;}

.about-list {
	display: flex;
    align-items: self-start;
    justify-content: space-between;
}

.about-img {
    width: 100%;
    max-width: 568px;
    margin-left: -99px;
}

.about-img img {width: 100%;}

.about-cnt {
    width: 100%;
    max-width: 657px;
    padding-top: 67px;
}

.about-cnt p {
	font-family: 'IBM Plex Sans Regular';
	font-size: 18px;
	line-height: 23px;
	color: #FFFCFC;
}

.about-cnt p span {
    font-family: 'IBM Plex Sans Medium';
	font-size: 20px;
}

.about-cnt p span span {color: #FFA800;}

.about-cnt p {margin-bottom: 23px;}

.about-cnt .social {
	justify-content: flex-start;
	padding-top: 15px;
}

.about-cnt .social a {
    max-width: 40px;
    min-width: 40px;
}

.gallery,
.gallery-item,
.gallery-item img {width: 100%;}

.gallery .owl-dots {
	position: absolute;
	bottom: 40px;
	left: 0;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.gallery .owl-dots .owl-dot span {display: none;}
.gallery .owl-dots .owl-dot {
	width: 100%;
	max-width: 210px;
	height: 6px;
	background-color: #ffffff !important;
	transition: 0.3s ease;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
}

.gallery .owl-dots .owl-dot.active {background-color: #FFA800 !important;}

.gallery .owl-dots .owl-dot:not(:last-child) {margin-right: 89px;}


.tracks {padding: 46px 0 30px;}

.tracks .title span.title-bg {
	top: 66px;
    left: -633px;
}

.track .subtitle {margin-bottom: 10px ;}

.tabs-content .tab-cnt {display: none;}

.tabs-content .tab-cnt.active {display: block;}

.tabs-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.tabs-section-item  {
	cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: 240px;
    margin: 0 10px 50px;
    padding-bottom: 47px;
}

.tabs-section-item-img {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 49px;
	width: 100%;
	margin-bottom: 5px;
}

.tabs-section-item-img img {max-width: 100%;}

.tabs-section-ite-title {
	display: inline-block;
	font-family: 'IBM Plex Sans Regular';
	font-size: 22px;
	line-height: 22px;
	color: #222222;
	padding-bottom: 10px;
	border-bottom: 3px solid transparent;
	transition: 0.3s ease;
}

.tabs-section-ite-title:hover {color: #d89000;}

.tabs-section-item p {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	font-family: 'IBM Plex Sans Regular';
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: #222222;
	transition: 0.3s ease;
	opacity: 0;
}


.tabs-section-item.active p {opacity: 1;}
.tabs-section-item.active .tabs-section-ite-title {border-bottom: 3px solid #FFA800;}

.track-img,
.track-img img {width: 100%;}














.popup-wrapper {
	position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 15px;
    display: none;
    transition: 0.4s ease;
}
	
	.popup-layout {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: 6;
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgba(0, 0, 0, 0.6);
	}
	
	.popup-layout::-webkit-scrollbar {width: 0px;}
	 
	.popup-layout::-webkit-scrollbar-track {box-shadow: inset 0 0 0px #ffffff;}
	
	.popup-layout::-webkit-scrollbar-thumb {background-color: transparent;}
	
	
	.popup {
	  position: relative;
	  width: 100%;
	  max-width: 406px;
	  padding: 50px 66px 55px;
	  background-color: #ffffff;
	}


	.popup-close {
		position: absolute;
		cursor: pointer;
		z-index: 2;
		top: 18px;
		right: 18px;
		width: 100%;
		max-width: 18px;
	}
	
	.popup-close img {width: 100%;}
	

	.form-row {
		position: relative;
		display: block;
		width: 100%;
		margin-bottom: 32px;
	}
	
	
	.form-row > span {
		cursor: pointer;
		position: absolute;
		top: calc(50% - 13.5px);
		left: 0;
	}
	
	.form-row span {
		font-family: 'IBM Plex Sans Regular';
		font-size: 20px;
		line-height: 20px;
		color: #D6D0D0;
	}
	
	.form-row.active span:not(.square-info) {display: none;}

	.form-row input:focus + span {display: none;}
	
	.form-row span span {
		font-size: 21px;
		color: #FF0000;
	}
	
	.form-field {
		display: block;
		width: 100%;
		height: 28px;
		padding: 0 0 5px;
		font-family: 'IBM Plex Sans Regular';
		font-size: 20px;
		line-height: 20px;
		color: #D6D0D0;
		border-bottom: 1px solid #D6D0D0;
		border-radius: 0;
		transition: 0.3s ease;
	}

	.form-field::-webkit-input-placeholder {color: #D6D0D0;}
	.form-field::-moz-placeholder {color: #D6D0D0;}
	.form-field:-ms-input-placeholder {color: #D6D0D0;}
	.form-field:-moz-placeholder {color: #D6D0D0;}
	
	textarea.form-field  {
		min-height: 89px;
		margin-bottom: 24px;
		padding: 10px;
		border: 1px solid #D6D0D0;
	}

	.form-row-wrap p {
		margin-bottom: 18px;
		font-family: 'IBM Plex Sans Medium';
		font-size: 20px;
		line-height: 20px;
		text-transform: uppercase;
		color: #222222;
	}
	
	.popup .btn {margin: 0 auto;}

	

	
.header-mob {
	position: relative;
	z-index: 6;
	display: none;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
}

.menu-trigger {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    width: 45px;
    height: 25px;
	transition: 0.6s ease;
}

.menu-trigger span {
	display: block;
	width: 100%;
	height: 3px;
	background: linear-gradient(342.26deg, #EC7A8F 20.16%, #FCAF8C 94.53%);
	transition: 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.menu-trigger span:nth-child(1) {width: 75%;}

.menu-trigger span:nth-child(3) {width: 40%;}

header.open .menu-trigger span {
	position: relative;
	width: 100%;
}

header.open .menu-trigger  {justify-content: center;}

header.open .menu-trigger span:nth-child(1) {
	transform: rotate(-40deg);
    margin-bottom: -3px;
}

header.open .menu-trigger span:nth-child(2) {display: none;}

header.open .menu-trigger span:nth-child(3) {transform: rotate(40deg);}

